.tabe th, .table td{font-size: 0.9em;}
.c-pop{color: #B40004;}
.c-poplight{color: #EB9292;}
.c-popdark{color: #A74B4B;}
.bg-popmartin{background-color: #DA6262;}
.bg-popmartindark{background-color: #A74B4B; color: #FFFFFF;}
.navicon-mobile{display: none;float: right; font-size: 2.2em;margin-top: -1px;margin-right: 20px;cursor: pointer;}
/*h2{font-size: 1.4em;border-bottom: 1px solid #aaaaaa;padding: 5px;}*/
.btn-popmartin{background-color: #D32F2F; border-color: #A74B4B;} .btn-popmartin:hover{background-color: #B40004; border-color: #A74B4B;}
.btn-popmartin-trans{background-color: transparent;border-color: #A74B4B;color: #D32F2F;}.btn-popmartin-trans:hover{background-color: #D32F2F;}
.form-modern input:focus{border-bottom: 2px solid #DA6262;}
.form-modern label:focus span{color: #DA6262;}
.popicon{width: 40px; height: 28px;display: inline-block;background-size: 99%; background-repeat: no-repeat; background-position: center center;}
.popicon.visa{background-image: url("../image/icons/visa.png");}
.popicon.mastercard{background-image: url("../image/icons/mastercard.png");}
.popicon.amex{background-image: url("../image/icons/amex.png");}
.popicon.elo{background-image: url("../image/icons/elo.png");}
.popicon.cart1{background-image: url("../image/icons/cart1.png");}
.popicon.hiper{background-image: url("../image/icons/hiper.png");}
.popicon.itau{background-image: url("../image/icons/itau.png");}
.popicon.bradesco{background-image: url("../image/icons/bradesco.png");}
.popicon.banco-do-brasil{background-image: url("../image/icons/banco-do-brasil.png");}
.popicon.boleto{background-image: url("../image/icons/boleto.png");}
.popicon.moip{background-image: url("../image/icons/moip.png");}
.table .t-popmartin{color: #B40004 !important; border: 1px solid red; padding: 2px;}
.table .t-popmartin:hover{background-color: #B40004; color: #FFF !important;}
.frete{display: inline-block;padding: 8px 10px;font-weight: bold;font-size: 1.4em;margin: 0 0 20px 0;}
.frete.frete-gratis{background-color: #FFD600; color: #FFF;}
.frete.frete-pac{background-color: #01579B; color: #FFD600;}
input{padding: 5px;width: 100%;}
.pop-header{height: 120px;margin-bottom: 0;
    background: -moz-linear-gradient(top, #E0E0E0 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #E0E0E0 0%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #E0E0E0 0%, #FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );}
.pop-top-header{padding:2px;background-color: #FFFFFF;border-top: 5px solid #B40004;}
.pop-top-header .content{padding: 0 10px;}
.pop-top-nav{position: relative;width: 100%;float: right;text-align: right;background-color: #FFF;z-index: 10;}
.header-menu{float: right;width: 35%;text-align: left;}
.header-menu > div{margin-top: 2px;display: inline-block;margin-right: 5%;}
.header-menu > div:last-child{margin-right: 0;}
.header-search{float: left;width: 63%;padding-left: 16%;}
.pop-top-nav .fa{font-size: 1.2em;}
.pop-search{width: 100%;min-width: 300px;}
.pop-search .input-group{width: 100%;}
.pop-search input[name=search]{border-radius: 0;border: none;border-bottom: 2px solid #EB9292;padding: 5px 40px 5px 5px;color: #DA6262;}
.pop-search .input-group button{position: absolute;right: 8px;top: 5px;width: 30px;color: #EB9292;font-size: 0.70em;background: none; border: transparent;cursor: pointer;}

.pop-logo{position:absolute;top: 5px;width: 10%;min-width: 100px;max-width: 2px;z-index: 2; height: 15%; background: url("../image/logo-popmartin.png") center center no-repeat;background-size: 98%;z-index: 11;}
.pop-logo a{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.content-ads{padding: 0;font-size: 0.8em;width: 80%; margin: 0 10%;}
.pop-ads{width: 85%; float: right;margin: 0 !important;padding: 0 !important;}
.pop-ads > div{position: relative;}
.pop-ads img{display: inline-block !important;width: 50px !important;border: 1px solid #9d9d9d;margin-right: 2%;}
.pop-ads p{display: inline-block !important;width: 62% !important;font-weight: 700;padding-top: 10px;}
.pop-ads a{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.pop-nav-main{float: left;width: 100%;height: 20px;position: relative;border-bottom: 2px solid #b3bdd0;text-align: center;}
.pop-nav-content{position: absolute; width: 100%;text-align: center;}
.pop-nav-content ul{margin-top: 5px;display: inline-block;background-color: #DA4453;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;padding: 0;background-color: #DA4453;}
.pop-nav-content li{float: left;padding: 0; margin: 0;border-right: 1px solid #FFF;}
.pop-nav-content a{display: block; padding: 5px 10px;color: #FFF;}
.pop-nav-content li:hover{background-color: #ac2925;}
.pop-nav-content li:first-child{border-radius: 5px 0 0 5px;-webkit-border-radius: 5px 0 0 5px;-moz-border-radius: 5px 0 0 5px;}
.pop-nav-content li:last-child{border-right-color: transparent;border-radius: 0 5px 5px 0;-webkit-border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;}

.modal-product-frete{position: absolute; z-index:2;left: 0;bottom: 43px;background-color: #FBC02D; color: #FFF; font-weight: bold;padding: 5px;}
.modal-product-descont{position: absolute; z-index:2;left:10px;bottom: 10px;text-decoration: line-through;}
.modal-product-descont-percent{position: absolute; z-index:1;right: 0;top: 42px;background-color: #B71C1C; color: #FFF;padding: 5px 7px;}

.pop-forms .colbox-2{margin-top: 10px;padding: 0 30px;}
.pop-forms .colbox-2:last-child{border-left: 1px solid #aaaaaa;}

.pop-title{position: relative;border-bottom: 1px solid #a4aaae;}
.pop-title h1{display: inline-block;padding: 4px 0;font-size: 1.2em; font-weight: 900;color: #B40004;}
.pop-title .pop-tile-menu{display: inline-block; float: right;}
.pop-tile-menu .btn-small{margin-top: -5px;}
.modal-product{position: relative;padding: 0;margin: 10px 0;}
.modal-product ul{display: none;background-color: rgba(255,255,255,0.8);position: absolute;z-index: 3;width: 100%;top: 0; left: 0;z-index: 1;padding: 5px;}
.modal-product:hover ul{display: block !important;z-index: 99 !important;}
.modal-product ul li{display: inline-block;width: 31.5%;}
.modal-product ul a{color: #000;display: block;font-size: 1.6em;text-align: center;}
.modal-product header{padding: 2px 5px;}
.modal-product figure{position: relative;border: 1px solid #BDBDBD;border-radius: 5px; text-align: center;}
.modal-product img{padding: 5px;}
.modal-product figcaption{position: absolute;bottom:0;left:0; width:100%; padding: 7px 10px;text-align: right; background-color: rgba(255,255,255,0.8);}
.modal-product figcaption a{font-weight: 700;font-size: 1.4em;color: #B40004;}
.modal-product h2{border: none; font-size: 1em; margin: 0;padding: 3px 0;}
.modal-product h2 a{display: block;color: #ac2925;font-weight: 600;}
.modal-product .tagline a{color: #1F1F1F;}
.modal-product .tagline a:hover{text-decoration: underline;}

.pop-rate{text-align: left;margin: 10px 0;}
.pop-rate p{margin: 0; text-align: center; font-weight: bold;}
.pop-rate > div{border-bottom: 1px solid #dff0d8; clear: both;padding: 3px 0;}
.pop-rate > div div{display: inline-block;float: right;font-size: 1.2em;color: #E3D239;margin-top: -1px;}

.btn-purshace{text-align: center;display: inline-block;width: 230px;margin-top: -30px;}
.btn-purshace span{display: block;margin-top: 5px;font-size: 0.875em;}
.pop-product figure{padding: 1% 2%;}
.pop-product img{width: 100%;}
.pop-product .pop-title h1{font-size: 2.2em;font-weight: 400;}
.pop-product .price{color: #999; font-weight: 500;font-size: 1.2em;text-decoration: line-through;}
.pop-product .price-descont{padding: 10px 0;font-size: 3em; color: #ac2925; font-weight: 800;}

.pop-product .pop-title{margin-top: -30px;}

.pop-product-salesman{margin: 10px 0;padding: 10px;border:1px solid #e0e0e0;}
.pop-product-salesman p{margin-top: 5px;display: inline-block;font-size: 1.4em; color: #ac2925;}

.pop-carousel-home{padding: 0;}
#img-product{width: 100%;}
.pop-product-galery{text-align: center;}
.pop-product-galery li{width: 95%;display: block;margin-right: 1%;text-align: center;
    filter: alpha(opacity=50);opacity:0.50;-webkit-opacity:0.50;-moz-opacity:0.50;
}
.pop-product-galery img{width: 100%;border: 2px solid #555555;cursor: pointer;}
.pop-product-galery li:hover{filter: alpha(opacity=1);opacity:1;-webkit-opacity:1;-moz-opacity:1;}

.pop-cart{position: relative;border: 1px solid #E0E0E0;margin: 30px 0;padding: 10px;}
.pop-cart h1{position: absolute;top:-10px; left: -10px;display: inline-block;font-weight: 500;background-color: #E0E0E0; padding: 10px;font-size: 1.4em;}
.pop-cart .table th{border-top: 0;border-bottom: 2px dashed #8e8e8e;}
.pop-cart .table th,.pop-cart .table td{text-align: center;background: #FFF;font-size: 0.9em;border-right: 0;}
.pop-cart .table td:first-of-type{text-align: left;}
.pop-cart .table tr, .pop-cart .table tr:hover{background: none;}
.pop-cart .table input{padding: 8px 0 8px 10px;text-align: center;border-radius: 4px;border: 1px solid #BDBDBD;max-width: 70px;}
.pop-cart .table .price{font-size: 1.4em;font-weight: 300;}
.pop-cart-obs{position: relative;padding: 20px 10px;text-align: center;}
.pop-cart-obs form{display: none;}
.pop-cart-footer textarea{width: 100%;height: 80px;}
.pop-cart-subtotal{padding: 20px 10px;text-align: right;background-color: #E0E0E0;}
.pop-cart-subtotal table{display: inline-block;}
.pop-cart-subtotal tr td{padding: 4px 2px;}
.pop-cart-subtotal tr td:last-of-type{text-align: left;}

.pop-cart-cep, .pop-cart-total{text-align: right;}
.pop-cart-cep input{font-size: 1.4em;padding: 5px;max-width: 140px;vertical-align: middle;}
.pop-cart-cep p{margin-bottom: 5px;font-size: 1em;color: #8e8e8e;}
.pop-cart-cep p:first-of-type{margin-top: 20px;}
.pop-cart-cep .form-modern{display: inline-block;}
.pop-cart-cep .form-modern select{width: auto;display: inline-block;}
.pop-cart-cep .form-modern span{display: inline-block;}
.pop-cart-cep .form-modern input{display: inline-block;}
.pop-cart-total{margin-bottom: 50px;border-top: 1px solid #E0E0E0;padding: 20px 10px;}
.pop-cart-total p{font-size: 1.6em;font-weight: bold;}
.table-cartaddress{width: 100%;}
.table-cartaddress th{text-align: right;}

.product-cart-img img{width: 100%;max-width: 100px;vertical-align: middle;}
.product-cart-info{text-align: left;padding-left: 10px;}
.pop-remove-product-cart{margin-top: 15px;}
.pop-store .pop-store-products{padding: 0 20px;}
.pop-store-info{text-align: center;padding: 10px;background-color: #E0E0E0;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.pop-store-info img{width: 100%;max-width: 250px;}

/*******************************************************************
************************PAINEL ADMINISTRATIVO**********************
 ******************************************************************/
.panel-icon-mobile{display: none;position: absolute;z-index: 10;top: 14px; left: 100px;cursor: pointer;font-size: 1.2em;color: #ac2925;border: 1px solid #e0e0e0;padding: 5px 8px;}
.panel-icon-mobile:active{box-shadow: 0 0 2px #B40004;}

.panel-top-header{border-bottom: 2px solid #E0E0E0;}
.panel-top-header .pop-logo{background-size: 80%;top: 7px;left: 50px;padding-bottom: 0;width: 100px;height: 70px;float: left;}
.panel-top-header .pop-top-nav{padding: 5px 10px;}
.panel-top-header .pop-search{display: none;}
.panel-top-header .header-menu{width: 100%;text-align: right;}
.panel-top-header .header-menu > div{margin-right: 20px;}
.menu .menu-hidden{display: none;position: absolute; right: 10px;z-index: 9;margin-top: 5px;width: 200px; background-color: #FFF; border: 1px solid #e0e0e0;padding: 5px; text-align: left;border-radius: 5px;}
.menu-hidden li a{display: block;color: #424242;padding: 10px 5px;}
.menu-hidden li a:hover{background: #e0e0e0;}
.menu-hidden .btn{width: 90%;}

.panel-nav{float: left; position: relative;width: 18%;min-width: 200px;padding: 40px 5px 5px 5px;background-color: #EEEEEE;}
.panel-nav > div{width: 100%;}
.panel-nav .panel-nav-acsess{margin: 10px 0;}
.panel-nav h3{font-size: 1.2em;background-color: #ac2925;color: #e0e0e0;padding: 7px 5px; text-align: center;}
.panel-nav-acsess a{display: block; width: 100%; padding: 10px 5px;border-bottom: 1px solid #BDBDBD;color: #757575;transition: all 0.4s;-moz-transition: all 0.4s;-webkit-transition: all 0.4s;}
.panel-nav-acsess a:hover{background-color: #BDBDBD; color: #424242;padding-left: 20px; transition: all 0.4s;-moz-transition: all 0.4s;-webkit-transition: all 0.4s;}

.panel-content{float: right;width: 80%;padding: 5px;}
.pop-form span.title{display: block;padding: 4px 7px;background-color: #0ABF95;color: #FFF;}
.pop-form .title.title-gray{background-color: #2e3436;color: #FFF;}
.pop-form input{color: #9d9d9d;border: 1px solid #a4aaae;}
.pop-form input:focus{border: 1px solid #B40004;box-shadow: 0 0 2px #000;}

.panel-end{position: relative;border: 1px solid #e0e0e0;margin: 10px 0;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;}
.panel-end h4{padding: 5px 10px; border-bottom: 1px solid #a4aaae; background-color: #e0e0e0;color: #757575;font-weight: 500;}
.panel-end-content{padding: 10px;}
.panel-end-edit{position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-color: rgba(0,0,0,0.6);color: #FFF; text-align: center; font-size: 1.6em; font-weight: 600;filter: alpha(opacity=0);opacity:0;-webkit-opacity:0;-moz-opacity:0;transition: all 0.4s;-moz-transition: all 0.4s;-webkit-transition: all 0.4s;}
.panel-end-edit:hover{filter: alpha(opacity=100);opacity:1;-webkit-opacity:1;-moz-opacity:1;transition: all 0.4s;-moz-transition: all 0.4s;-webkit-transition: all 0.4s;}

.panel-nav .floatmenu{position: absolute;width: 96%;}
.table .t-unread{background-color: #BDBDBD !important;font-weight: bold !important;}
.table .t-unread td, .table .t-unread a{font-weight: bold;}

.table-action a{display: block;font-size: 1.1em;color: #000;}

.pop-tracking{margin-top: -10px;}
.pop-tracking button{position: absolute; right: 30px; bottom: 22px;}

.selects_people{display: none;}

/*#pop-remove-msg{display: none;}*/
.limiter-result{float: right; color: #B40004;font-weight: bold !important;}

.pop-user-info{padding: 10px;}
.pop-user-info .colbox{padding: 0 10px;}
.pop-user-info .colbox > div{border: 1px solid #7f8aa3;padding: 5px;margin-bottom: 10px;}
.pop-user-info form, .pop-user-info label{padding: 0; margin: 0;}
.pop-user-info .pop-tracking .btn{bottom: 8px; right: 5px;}
.pop-info-user p{color: #0D47A1;font-weight: 500;margin: 0px;}
.pop-user-info .accordion{margin: 0;padding: 0;}
.pop-user-info .accordion-header{padding: 10px; background-color: transparent; border: none;}
.pop-user-info .accordion-header .fa{display: none;}
.pop-user-info .accordion-content{display: block;padding: 0; background-color: transparent; border: none;}

.form-btn-cep{padding: 10px;}
.form-btn-cep a{margin-top: 26px;}

.product-galery{padding: 5px;}
.product-galery:hover{background-color: #F5F5F5;}

.current_rout{background-color: #BDBDBD;font-weight: bold;padding-left: 20px!important;}
.pop-select-cep tr{cursor: pointer;}
.pop-notice-msg-fixed{position: fixed;z-index: 9;top: 0;right: 5px;width: 75%;}
.pop-rating{padding: 20px; background-color: #FFF;text-align: center;margin: 5px 0;}
.pop-rating h3{color: #333333;font-size: 1.3em;}
.pop-rating .rating{display: inline-block;font-size: 2.2em;color: #FFD600;text-align: center;cursor: pointer !important;}
/*******************************************************************
********************** FIM PAINEL ADMINISTRATIVO *******************
 ******************************************************************/

.footer{margin: 0;background-color: #C5040B;border-top: 7px solid #8F1E22;
    box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
}
.nav-footer-cat > div{margin-bottom: 20px;}
.nav-footer{text-align: center;}
.nav-footer a{display: block;padding: 2px 0;font-weight: 400;color: #FFB0B0;}
.nav-footer a:hover{color: #FFF; text-decoration: underline;}
.nav-footer-last{text-align: center;margin-top: 7px;}
.nav-footer-last li{display: inline-block;border-right: 1px solid #FFF;margin: 5px 0;}
.nav-footer-last li:last-child{border-right: none;}
.nav-footer-last a{font-size: 0.9em;display: block;color: #FFF; padding: 1px 5px;margin-right: 3px;}
.nav-footer-last a:hover{text-decoration: underline;}
.pop-footer-info{text-align: center;}
.pop-footer-info .colbox-2{margin: 10px 0;}


/**
    Reescrita terceira
 */
.ajs-button{border: 1px solid #E0E0E0 !important;cursor: pointer;padding: 10px 20px !important;}
.ajs-button.ajs-ok{color: #B71C1C !important;}
.ajs-button.ajs-cancel{color: #555555 !important;}
/*.ajs-reset, */
.ajs-commands{width: 94% !important;text-align: right !important;}

.form-modern .alert{position: absolute;z-index: 9899;bottom: -16px;right: 10px;padding: 1px 6px;background-color: #FF5252;color: #FFF;}
.form-modern .alert:after{
    content: " ";
    float: right;
    margin: -6px 0 0 0;
    width: 0;
    height: 0;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FF5252;
}
.hidden{display: none;}
.form-modern .jq-loader{position: absolute;top: 42px; right: 30px;}
.owl-nav i{font-size: 1.6em;font-weight: bold; color: #B40004;}
.owl-nav .owl-prev{position: absolute; top: 40%; left: -25px;}
.owl-nav .owl-next{position: absolute; top: 40%; right: -25px;}
.trigger{padding: 10px 20px;text-align: center;}
.trigger.accept{background-color: #1E820E;color: #FFF;border: none;}
.trigger.warning{background-color: #FBC02D;color: #FFF;border: none;}
.trigger.notice{background-color: #7986CB;color: #FFF;border: none;}
.trigger.error{background-color: #EF5350;color: #FFF;border: none;}
/*.table input{min-width: 20px;}*/

.table .t-accept{color: #1B5E20;}
.table .t-notice{color: #0D47A1;}
.table .t-warning{color: #E3D239;}
.table .t-error{color: #FF0000;}
.table .t-default{color: #000000;}

.c-accept{color: #1B5E20;}
.c-notice{color: #0D47A1;}
.c-warning{color: #E3D239;}
.c-error{color: #FF0000;}
.c-default{color: #000000;}


/** CUSTOM ALERTIFY */
.ajs-message{border: 1px solid #EF5350;border-left: 8px solid #EF5350;font-weight: 400; font-size: 1.2em;}
.ajs-message.ajs-error{border-color: #EF5350 !important;border-left-width: 9px;background: rgba(239,83,80,0.7) !important;}
.ajs-message.ajs-success{border-color: #1B5E20 !important;border-left-width: 8px;background: rgba(27,94,32,0.7) !important;}
.ajs-message.ajs-warning{border-color: #FFEA00 !important;border-left-width: 8px;background: rgba(255,234,0,0.7) !important;}


/** RESPONSIVIDADE */

@media(max-width: 69em){ /*1024px */
    .pop-logo{top: 5px;padding: 0;min-width: 60px;height: 45px;}
    .pop-ads{width: 100%;float: left;margin: 20px 0;}
    .panel-nav{display: none;position: absolute;left: 0;z-index: 1;width: 250px;box-shadow: 2px 3px 8px #000;padding-top: 5px;height: auto !important;}
    .panel-content{width: 100%;padding: 20px 10px;}
    .panel-top-header{height: 60px;padding: 8px 0;}
    .panel-top-header .pop-logo{left: 5px;top: -5px;width: 80px;}
    .panel-icon-mobile{display: block;}
    .pop-notice-msg-fixed{width: 95%;}
    .panel-nav .floatmenu{position: relative !important;top: 0 !important;margin-top: 0 !important;}
}
@media(max-width: 62.5em){ /*1000px */
    .pop-ads img{vertical-align: middle;}
}
@media(max-width: 56.25em){ /*900px */

    .pop-top-header{}
    .pop-top-nav{display: none;position: absolute;left: 0;top: 58px;z-index:3;text-align: center;z-index: 10;
        -webkit-box-shadow: 2px 2px 2px #000;
        -moz-box-shadow: 2px 2px 2px #000;
        box-shadow: 1px 0 3px #000;
    }
    .pop-top-nav > div{width: 100%;margin-left: 0;border-bottom: 1px solid #F0F0F0;padding: 10px 0;}
    .pop-top-nav .header-menu{text-align: center;}
    .pop-search input[name=search]{text-align: center;padding: 10px;}
    .pop-search .input-group button{top: 15px; right: 20px;}
    .navicon-mobile{display: block;}
    .pop-nav-content{background-color: #DA4453;z-index: 9;}
    .pop-nav-content .nav{display: none;}

    .nav li{float: inherit;width: 100%;border-bottom: 1px solid #E08282;}
}
@media(max-width: 50em){ /* 800 */
    .pop-carousel-home{padding: 20px 20px;}
    .pop-store .coltable-3{width: 100%;}
    .pop-store .coltable-9{width: 100%;}
    .pop-store .pop-store-info{padding-bottom: 20%;}
    .pop-store .pop-store-info img{width: 20%; float: left;}
    .pop-store .pop-store-info div{width: 79%; float: right; text-align: left;margin-top: 1%;}
    .pop-cart-info-product td{text-align: center !important;}
    .pop-cart-info-product td:first-of-type{width: 30%;max-width: 350px; min-width: 150px;}
    .pop-cart-info-product .product-cart-img{width: 100%;margin-top: 25px !important;}
    .pop-cart-info-product .product-cart-info{width: 100%;}
    .pop-cart .table .price{font-size: 1em;}
    .pop-cart-subtotal .colbox .colbox-2:first-of-type{text-align: right;margin-bottom: 20px;}
    .pop-cart-total .colbox .colbox-2{text-align: center !important;margin: 20px 0;}

    .pop-user-info .accordion-header{padding: 10px; background-color: #B71C1C;}
    .pop-user-info .accordion-header span{color: #ffffff;}
    .pop-user-info .accordion-header .fa{display: inline-block;}
    .pop-user-info .accordion-content{display: none;padding: 10px 0;}

    .pop-cart-info-product .product-cart-info{text-align: center;}
    .pop-product .pop-title{margin-top: 0;}
    .btn-purshace{margin-top: 0;}

    .form-btn-cep{padding: 0;}
    .form-btn-cep a{position: relative;margin: -45px 13px 0 0;float: right;}

    /*.pop-favrities .table tbody td:first-of-type{width: 50px !important;}*/
}
@media(max-width: 48.375em){ /*774px */
    .pop-ads img{vertical-align: -50%;}
}
@media(max-width: 37.5em){ /*600px */
    .pop-ads{width: 80% !important; margin: 0 10% !important;}
    .pop-favrities .product-cart-img{width: 100%;text-align: center;}
    .pop-favrities .product-cart-img img{max-width: 50px;}
    .pop-favrities .product-cart-info{width: 100%;text-align: center;}
    /*.pop-favrities tbody td:last-of-type{border-top: 1px solid #dff0d8;}*/

    .form-notfy .colbox-2{text-align: center;}
    .pop-header-request > div{width: 100%; text-align: center;margin: 10px 0;}
    .pop-tile-menu .btn{margin-top: -5px;}
    .btn.btn-small{padding: 10px 20px;}
    .btn.btn-smallextreme{padding: 6px 12px;}
}
@media(max-width: 36.25em){ /*580px */
    .pop-store .pop-store-info{padding-bottom: 10px;}
    .pop-store .pop-store-info img{width: 100%; float: none;}
    .pop-store .pop-store-info div{width: 100%; float: none;text-align: center;}
    .pop-cart-info-product{margin-top: 20px;}
    .pop-cart-info-product thead {display: none;}
    .pop-cart-info-product tr {border-bottom: 1px solid #dddddd;}
    .pop-cart-info-product td {border: 0;}
    .pop-cart-info-product td:not(:first-child) {display: block;}
}
@media(max-width: 31.25em){ /*500px */
    .pop-ads img{width: 40%; vertical-align: middle !important;}
    .pop-ads p{width: 58%;}
    .pop-ads{width: 60%;margin: 0 20%;}
    .pop-cart-cep{text-align: center;}
    .pop-cart-cep .form-modern{width: 100%;text-align: center;}
    .pop-cart-cep .form-modern select, .pop-cart-cep .form-modern input{width: 100%;}
    .pop-cart-cep-ou{display: block !important;margin: 10px 0;}
    .pop-cart-cep input{text-align: center;}
    .pop-cart-cep .btn{margin-top: 10px;width: 80%;}
    .pop-title .pop-tile-menu{position: static;text-align: center;}
}
@media(max-width: 25em) { /*400px */
    .nav-footer-cat .colbox-5{width: 48% !important;margin-right: 0 !important;}
    .pop-footer-info h2{font-size: 1.2em;}
    .pop-cart-subtotal .colbox .colbox-2{text-align: center !important;}
    .pop-cart-subtotal .colbox .colbox-2:last-of-type span{display: block;margin: 0;}
    .modal-product h2 a{font-size: 1.4em;padding: 10px 0;}

    .fontem-22{font-size: 1.8em;}
}

/** VOOLTAR RESPONSIVIDADE */
@media(min-width: 56.25em){ /*900px */
    .pop-top-nav{display: block !important;}
    .pop-nav-content .nav{display: inline-block !important;}
    .pop-nav-content{background-color: transparent;}
    .nav li{float: left;width: inherit;border-bottom: 0;}
}

@media(min-width: 69em){ /*1024px */
    .panel-nav{display: block !important;position: relative;width: 18%;min-width: 200px;box-shadow: none;}
    .alertbox-container{width: 900px !important;margin: auto !important;}
}

@media(min-width: 100em){ /* 1600 */
    .content{max-width: 1580px !important; margin: 0 auto !important;}
}