<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    #RewriteCond %{HTTP_HOST} !^www\. [NC]
    #RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

     <Limit GET POST PUT PATCH DELETE HEAD OPTIONS>
            Order allow,deny
            Allow from all
    </Limit>
    <LimitExcept GET POST PUT PATCH DELETE HEAD OPTIONS>
        Order deny,allow
        Allow from all
    </LimitExcept>
</IfModule>
#<DirectoryMatch "/home/popmartin.com.br">
#    php_admin_value open_basedir "/home/popmartin.com.br/:/tmp/:/"
#</DirectoryMatch>
