<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="listEvent sro">
    <tr>
        <td class="sroDtEvent" valign="top">28/07/2018
            <br />
            12:37
            <br />
            <label style="text-transform:capitalize;">VOLTA REDONDA&nbsp;/&nbsp;RJ</label>
        </td>
        <td class="sroLbEvent">
            <strong>Objeto entregue ao destinatário</strong>
            <br />
        </td>
    </tr>
    <tr>
        <td class="sroDtEvent" valign="top">28/07/2018
            <br />
            09:00
            <br />
            <label style="text-transform:capitalize;">VOLTA REDONDA&nbsp;/&nbsp;RJ</label>
        </td>
        <td class="sroLbEvent">
            <strong>Objeto saiu para entrega ao destinatário</strong>
            <br />
        </td>
    </tr>
    <tr>
        <td class="sroDtEvent" valign="top">10/07/2018
            <br />
            18:37
            <br />
            <label style="text-transform:capitalize;">VOLTA REDONDA&nbsp;/&nbsp;RJ</label>
        </td>
        <td class="sroLbEvent">
            <strong>Objeto ainda não chegou à unidade.</strong>
            <br />
            Por favor, aguarde.
        </td>
    </tr>
    <tr>
        <td class="sroDtEvent" valign="top">28/06/2018
            <br />
            06:55
            <br />
            RIO DE JANEIRO / RJ
            <br />
        </td>
        <td class="sroLbEvent">
            <strong>Objeto encaminhado</strong>
            <br />

            de 	Unidade de Tratamento
            em 	RIO DE JANEIRO / RJ
            para 	Unidade de Distribuição
            em 	VOLTA REDONDA / RJ
            <br />
        </td>
    </tr>
    <tr>
        <td class="sroDtEvent" valign="top">27/06/2018
            <br />
            18:40
            <br />
            SAO PAULO / SP
            <br />
        </td>
        <td class="sroLbEvent">
            <strong>Objeto encaminhado</strong>
            <br />

            de 	Unidade de Tratamento
            em 	SAO PAULO / SP
            para 	Unidade de Tratamento
            em 	RIO DE JANEIRO / RJ
            <br />
        </td>
    </tr>
    <tr>
        <td class="sroDtEvent" valign="top">27/06/2018
            <br />
            10:20
            <br />
            Sao Paulo / SP
            <br />
        </td>
        <td class="sroLbEvent">
            <strong>Objeto encaminhado</strong>
            <br />

            de 	Agência dos Correios
            em 	Sao Paulo / SP
            para 	Unidade de Tratamento
            em 	CAJAMAR / SP
            <br />
        </td>
    </tr>
    <tr>
        <td class="sroDtEvent" valign="top">26/06/2018
            <br />
            17:39
            <br />
            <label style="text-transform:capitalize;">Sao Paulo&nbsp;/&nbsp;SP</label>
        </td>
        <td class="sroLbEvent">
            <strong>Objeto postado após o horário limite da unidade</strong>
            <br />
            Objeto sujeito a encaminhamento no próximo dia útil
        </td>
    </tr>
</table>


</body>
</html>